/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding: 15px 0;
	a {
		color: #2F363E;
	}
}

#main_content {
	#content {
		float: none;
	}
	padding-bottom: 100px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: #FF4500;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
	}
	#comments {
		.comment {
			padding: 1em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}
.clearfix:after {
  display:block;
  clear:both;
}

/*----- Menu Outline -----*/
.menu-wrap {
  width:100%;
  box-shadow:0px 1px 3px rgba(0,0,0,0.2);
  background:#3e3436;
}

.menu {
  width:1000px;
  margin:0px auto;
}

.menu li {
  margin:0px;
  list-style:none;
  font-family:'Ek Mukta';
}

.menu a {
  transition:all linear 0.15s;
  color:#919191;
}

.menu li:hover > a, .menu .current-item > a {
  text-decoration:none;
  color:#be5b70;
}

.menu .arrow {
  font-size:11px;
  line-height:0%;
}

/*----- Top Level -----*/
.menu > ul > li {
  float:left;
  display:inline-block;
  position:relative;
  font-size:19px;
}

.menu > ul > li > a {
  padding:10px 40px;
  display:inline-block;
  text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
  background:#2e2728;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
  z-index:1;
  opacity:1;
}

.sub-menu {
  width:160%;
  padding:5px 0px;
  position:absolute;
  top:100%;
  left:0px;
  z-index:-1;
  opacity:0;
  transition:opacity linear 0.15s;
  box-shadow:0px 2px 3px rgba(0,0,0,0.2);
  background:#2e2728;
}

.sub-menu li {
  display:block;
  font-size:16px;
}

.sub-menu li a {
  padding:10px 30px;
  display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
  background:#3e3436;
}
